:root {
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #140021;
    --color-bg-2: #1e0032;
    --color-bg-3: #25003e;
    --color-bg-4: #36005a;
    --color-light: #d0b8e0;
    --color-white: hsl(0, 0%, 90%);

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-3);
    color: var(--color-light);
    line-height: 1.7;
}

h1,
h2 {
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    color: var(--color-white);
}

h2 {
    font-size: 3.5rem;
}

a {
    color: var(--color-light);
    transition: var(--transition);
}

a:hover {
    color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}


/************* Navigation Bar  **************/

nav {
    /* background: yellow; */
    height: calc(16px * 5);
    /* This is 5rem*/
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.window-scrolled {
    background: var(--color-bg-2);
    border-bottom: .2rem solid var(--color-bg-3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .4);
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_toggle-btn {
    display: none;
}

.logo {
    width: 7.5rem;
}

.nav_links {
    display: flex;
    gap: 4rem;
}

.nav_socials {
    display: flex;
    gap: 1.3rem;
}


.nav_socials a {
    width: 2.3rem;
    height: 2.3rem;
    display: grid;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    border-radius: .7rem;
    color: var(--color-bg-3);
    place-items: center;
}

.nav_socials a:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .6);
}





/************* Header **************/

header {
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
    overflow: hidden;
}

.header_container {
    display: grid;
    grid-template-columns: 45% 52%;
    gap: 6%;
    margin-top: 10rem;
    position: relative;
}


.header_image_bg {
    background: var(--color-bg-4);
    height: 22rem;
    width: 16rem;
    position: absolute;
}

.header_image_lg {
    width: 29rem;
    position: relative;
    top: 1.1rem;
    left: 1.1rem;
    filter: saturate(0) brightness(.3);
    transition: var(--transition);
}

.header_image_sm {
    width: 28rem;
    height: 28rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
}

.header_left:hover .header_image_sm {
    opacity: 0;
}

.header_left:hover .header_image_lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-4);
    top: 0;
    left: 0;
}


.header_head {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.empty {
    height: 3.5rem;
    width: 18rem;
    background: var(--color-bg-2);
    border-radius: 3rem;
    overflow: hidden;
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, .4);
    border: 1px solid var(--color-bg-4);
}


.header_tag {
    color: var(--color-primary-variant);
    margin-top: .8rem;
}

.header_right p {
    margin-top: 2rem;
    width: 85%;
}

.header_btn-md {
    /* This is to be showm only on tablets and phones */
    display: none;
}




.header_frames {
    position: absolute;
    top: 88vh;
    right: 44rem;
    transition: var(--transition);
}

.header_frame {
    width: 14rem;
    border: .4rem solid var(--color-bg-3);
    box-shadow: 0 0 4rem rgba(0, 0, 0, .5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
    margin-top: 2rem;
}

.header_frame:last-child {
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.header_frames:hover .header_frame {
    transform: rotate(0);
    transition: var(--transition);

}

.header_frames:hover .header_frame:last-child {
    top: 0;
    left: 16rem;
}

.contact_btn {
    color: var(--color-bg-1);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.header_btn {
    background: linear-gradient(-30deg, var(--color-primary-variant), var(--color-primary), var(--color-primary-variant));
    position: absolute;
    right: 4%;
    bottom: -5rem;
}

.header_btn:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .3);
    transform: translateY(-1rem);
    color: var(--color-bg-1);
}

.contact_btn i {
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 30s linear infinite;
}

.contact_btn p span{
    position: absolute;
    transform-origin:.3rem 5rem;
    letter-spacing: .4px;
}

@keyframes spinText{
    to{
        transform: rotate(360deg);
    }
}